<a href="https://colab.research.google.com/github/Ahmad-J-87/Axsos-Academy/blob/Data-Science-Prebootcamp/Assignment_Basic_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(a,b):
  x=a+b
  return x

  x=88+52
  return x
result = add(88,52)
print (result)

140

In [ ]:
new_val= add(90,87)
print(new_val)

177

In [ ]:
def say_hi(name):
  print("hi,"+ name)
  print(name)
say_hi("Ahmad")

hi,Ahmad
Ahmad

In [ ]:
def say_hi(name):
    print("hi," + name)
    print(name)
say_hi("Ahmad")

hi,Ahmad
Ahmad

In [ ]:
def say_hi (name):
  print("hi," + name)
  print(name)



say_hi("Ahmad")

hi,Ahmad
Ahmad

In [ ]:
def say_hi(name):
   return "hi" + name
greeting = say_hi("Ahmad")
print(greeting)

hiAhmad

In [ ]:
def add(a,b):
  x = a + b
  return x

sum1 = add(4, 6)
sum2 = add(1, 4)
sum3 = sum1 + sum2
print(sum1)
print(sum3)

10
15

In [ ]:
def countdown (num):
  new_list = []
  for i in range (num, -1 , -1):
    new_list.append (i)
  return new_list
print(countdown(5))
print(countdown(10))

[5, 4, 3, 2, 1, 0]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
def countup (num):
  return list(range(num, 100,10))
print(countup(9))

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99]